{% macro member(person) %}
<div class="card card-profile card-plain">
      <div class="row">
        <div class="col-lg-5">
          <a href="javascript:;">
            <div class="position-relative">
              <div class="blur-shadow-image">
                <img class="w-100 rounded-3 shadow-lg" src="./assets/img/kit/pro/brooke.jpg">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-7 ps-0 my-auto">
          <div class="card-body text-left">
            <div class="p-md-0 pt-3">
              <h5 class="font-weight-bolder mb-0">{{person.firstname}} {{person.lastname}} </h5>
              <p class="text-uppercase text-sm font-weight-bold mb-2">{{ person.profession }}</p>
            </div>
            <p class="mb-4">{{person.description}} </p>
            <a type="button" class="btn btn-facebook btn-simple btn-lg mb-0 pe-3 ps-2" href="{{ person.facebook_url }}" onClick="javascript:;">
              <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
            <a type="button" class="btn btn-twitter btn-simple btn-lg mb-0 px-2">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
            <a type="button" class="btn btn-github btn-simple btn-lg mb-0 px-2">
              <i class="fab fa-github" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
{% endmacro %}
