{% extends '/dashboard/events/template.twig' %}
{% block formStep %}
    <div class="multisteps-form__content d-flex align-items-center">
        <button type="button" class="btn btn-outline-primary d-flex align-items-center me-4 " data-bs-toggle="modal"
                id="add_speaker"
                data-bs-target="#formCreationEditContribution">
            <img src="{{ '/img/speaker.png' }}" alt="speaker add button" loading="lazy" width="40px" height="40px"/>
            <span class="text-capitalize ms-2">Add speaker</span>
        </button>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                data-bs-target="#formCreationEditContribution"
                id="add_sponsor">
            <img src="{{ '/img/save-money.png' }}" alt="speaker add button" loading="lazy" width="40px" height="40px"/>
            <span class="text-capitalize ms-2">Add Sponsor</span>
        </button>
    </div>
    <div class="container card" style="border-radius: 20px; border: 1px solid gray">
        <div class="table-responsive">
            <table class="table table-flush" id="products-list">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Contributor</th>
                    <th scope="col">position</th>
                    <th scope="col">contribution</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for contributor in contributors %}
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="form-check my-auto">
                            </div>
                            <img class="w-10 ms-3" loading="lazy"
                                 src="{{ contributor.image }}"
                                 alt="hoodie">
                            <h6 class="ms-3 my-auto">{{ contributor.fullName }}</h6>
                        </div>
                    </td>
                    <td class="text-sm">{{ contributor.position }}</td>
                    <td class="text-sm">{{ contributor.contribution }}</td>
                    <td class="text-sm">
                        <a href="javascript:" data-bs-toggle="tooltip" data-bs-original-title="Preview product">
                            <i class="fas fa-eye text-secondary"></i>
                        </a>
                        <a href="javascript:" class="mx-3" data-bs-toggle="tooltip"
                           data-bs-original-title="Edit product">
                            <i class="fas fa-user-edit text-secondary"></i>
                        </a>
                        <a href="javascript:" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                            <i class="fas fa-trash text-secondary"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <form class="modal fade" id="formCreationEditContribution" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true" action="/dashboard/events/{{ req.params.id }}/contributors" enctype="multipart/form-data"
          method="post">
        <input type="hidden" name="contribution" id="contribution" required />
        <div class="modal-dialog modal-lg modal-dialog-scrollable w-100 align-self-center">
            <div class="modal-content" style="min-width: 1000px !important">
                <div class="modal-header">
                    <h5 class="font-weight-bolder" id="title_form">Speaker Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mt-3">
                        <div class="col-md-8 col-sm-12 row">
                            <div class="d-flex align-items-center mb-2">
                                <label for="fullName" class="w-25 text-center">Full Name</label>
                                <input id="fullName" class="multisteps-form__input form-control w-75" type="text"
                                       placeholder="Full Name" name="fullName" autocomplete="true" required />
                            </div>
                            <div class="d-flex align-items-center mb-2" id="positionContainer">
                                <label for="position" id="positionLabel" class="w-25 text-center">Position</label>
                                <input id="position" class="multisteps-form__input form-control w-75" type="text"
                                       placeholder="Position" name="position" autocomplete="true" required />
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <label class="w-25 text-center" for="description">Description</label>
                                <textarea class="form-control w-100" rows="8" autocomplete="true" id="description" required
                                          name="description"></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 d-flex flex-column align-items-center justify-content-center">
                            <img class=" h-100" alt="image of speaker" src="{{ '/img/speaker.png' }}" id="uploaded_file"
                                 loading="lazy" width="200px" height="150px"/>
                            <label class="mt-4 form-label d-flex align-items-center btn btn-info" for="image">
                                <span class="text-white">Add Picture</span>
                                <input type="file" id="image" name="image" accept="image/*" autocomplete="true"/>
                            </label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 ">
                            <label for="google">Email Account</label>
                            <input id="google" class="form-control" type="email"
                                   placeholder="Email" name="google" autocomplete="true"/>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="facebook">Facebook Account</label>
                            <input id="facebook" class="multisteps-form__input form-control" type="url"
                                   placeholder="https://..." autocomplete="true"/>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="linkedin">Linkedin Account</label>
                            <input class="multisteps-form__input form-control" type="url"
                                   id="linkedin" name="linkedin" autocomplete="true"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitForm">Save</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
      const fileReader = new FileReader();
      const url = '{{ req.protocol }}://{{ req.get('host') }}{{ req.originalUrl }}/create';
      const positionContainer = document.getElementById('positionContainer');
      const image = document.getElementById('uploaded_file');
      const submitForm = document.getElementById('submitForm');
      const fullnameLabel = document.querySelector('label[for="fullName"]');
      const contribution = document.getElementById('contribution');
      let imageFile = null;
      image.setAttribute('loading', 'lazy');
      fileReader.addEventListener('load', (event) => {
        document.getElementById('uploaded_file').setAttribute('src', event.target.result);
      });
      document.getElementById('image').addEventListener('change', (event) => {
        imageFile = event.target.files[0];
        fileReader.readAsDataURL(event.target.files[0]);
      })
      document.getElementById('add_speaker').addEventListener('click', () => {
        contribution.setAttribute('value', 'speaker');
        document.getElementById('title_form').innerText = 'Add Speaker';
        positionContainer.classList.replace("d-none", "d-flex");
        fullnameLabel.innerText = 'Full Name';
        image.setAttribute('src', '/img/speaker.png');
        submitForm.innerText = 'Save Speaker';
      });
      document.getElementById('add_sponsor').addEventListener('click', () => {
        contribution.setAttribute('value', 'sponsor');
        positionContainer.classList.replace("d-flex", "d-none");
        document.getElementById('position').setAttribute('value', "");
        image.setAttribute('src', '/img/save-money.png');
        fullnameLabel.innerText = 'company name';
        submitForm.innerText = 'Save Sponsor';
      })
      const form = document.getElementById('formCreationEditContribution');

      form.addEventListener('submit', (event) => {
        event.preventDefault();
        console.log(document.getElementById('image').getAttribute('value'));
        const data = {
          fullName: form.elements.fullName.value,
          description: form.elements.description.value,
          contribution: form.elements.contribution.value,
          image: form.elements.image.files[0],
          google: form.elements.google.value,
          facebook: form.elements.facebook.value,
          linkedin: form.elements.linkedin.value,
          position: form.elements.position.value
        };
        const formData = new FormData();
        Object.keys(data).forEach((key) => {
          formData.append(key, data[key])
        });
        const xhr = new XMLHttpRequest();
        xhr.addEventListener('load', () => {
          console.log(xhr.statusText);
        });
        xhr.addEventListener('readystatechange', () => {
          console.log("hello");
        })
        console.log(url);
        xhr.open('POST', url);
        xhr.send(formData);
      });
    </script>
{% endblock %}
