{% extends 'dashboard/template.twig' %}
{% block content %}
    <div class="container-fluid py-1 px-3">
        <div class="container py-4">
            <section class="py-3">
                <div class="row mt-lg-4 mt-2">
                    {% for _object in _objects %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card">
                                <div class="card-body p-3">
                                    <img class="card-img-top" src="{{ req.get('host') }}/{{ _object.imagePath }}">
                                    <div class="card-body">
                                        <h4>
                                            {{ _object.title }}
                                        </h4>
                                    </div>
                                    <hr class="horizontal dark">
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="text-sm mb-0">{{ _object.address }}</h6>
                                            <p class="text-secondary text-sm font-weight-bold mb-0">Event place</p>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h6 class="text-sm mb-0">{{ _object.dateStart }}</h6>
                                            <p class="text-secondary text-sm font-weight-bold mb-2  ">Event start
                                                date</p>
                                            <h6 class="text-sm mb-0">{{ _object.dateEnd }}</h6>
                                            <p class="text-secondary text-sm font-weight-bold mb-0">Event end date</p>
                                        </div>
                                    </div>
                                    <hr class="horizontal dark">
                                    <div class="ms-auto text-end">
                                        <a class="btn btn-link text-danger text-gradient px-3 mb-0"
                                           href="javascript:"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                        <a class="btn btn-link text-dark px-3 mb-0" href="/web/events/{{ _object.id }}"><i
                                                    class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
{% endblock content %}
